body {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
}

.top-container {
    background-color: #185720;
}

.header {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: #F9FAF8;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;
}

.nav-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
}

.nav-links ul {
    
    margin: 0;
    list-style: none;
    display: flex;
    gap: 18px;
}


.nav-links a {
    text-decoration: none;
    color:#E5E7EB;
}

.nav-links a:hover {
    text-shadow: 2px 2px 3px #000000;
}

.hero img {
    width: 40%;
    height: auto;
}

.hero {
    font-size: 18px;
    color: #e5e7eb;
    width: 75%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

